{% extends "podcast/base.html"%}
{% block title %}Search Podcasts{% endblock%}
{% block head %}
{{ super() }}
<style>

</style>
{% endblock %}
{% block content %}



<!-- Page Content -->
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/podcast">Podcast</a></li>
      <li class="breadcrumb-item"><a href="#">Search Result</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{search_podcast}}</li>
    </ol>
  </nav>
  <!-- <div id="custom-search-input">
    <form id="audio" action="/search_podcast" method="post">
    <div class="input-group col-md-12">
      <input type="text" class="search-query form-control" name="search_audio" placeholder="Search Podcast" />
    </div>
    </form>
  </div> -->
  <!-- Page Heading -->
  <h1 class="my-4">Search Result
    <small>"{{search_podcast}}"</small>
  </h1>

  <div class="row">
    {% for podcast in podcasts %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        {% set img="image/"+podcast.3%}
        <a href="/single_podcast/{{podcast.0}}"><img class="card-img-top" src={{url_for("static", filename=img )}} alt=""></a>
        <div class="card-body">
          <h6>{{podcast.7}}</h6>
          <h4 class="card-title">
            <a href="/single_podcast/{{podcast.0}}">{{podcast.1}}</a>
          </h4>
          <p class="card-text">{{podcast.2[0:50]|safe}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Two</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Three</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error
            quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure
            perspiciatis mollitia recusandae vero vel quam!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Five</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Six</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum
            suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates,
            nemo repellat fugiat excepturi! Nemo, esse.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Seven</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Eight</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius adipisci dicta
            dignissimos neque animi ea, veritatis, provident hic consequatur ut esse! Commodi ea consequatur
            accusantium, beatae qui deserunt tenetur ipsa.</p>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /.row -->


</div>

<div style="margin: 300px;"></div>

{% endblock %}