{% extends "view/base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style>

</style>

{% endblock %}
{% block content %}

<section class="ftco-about img ftco-section" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center"
                        style="background-image:url( {{url_for("static", filename="view/images/bg_1.jpg" )}} );">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">About The Website</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, natus assumenda tempore
                            libero harum impedit a at neque facilis sunt minus unde recusandae culpa, eius fuga facere
                            maiores reprehenderit autem rem. Suscipit quas quia possimus impedit eveniet accusamus amet
                            aperiam quaerat eligendi ea? Ullam, quos nam? Praesentium totam iusto veritatis ipsa nam
                            eaque adipisci temporibus tenetur earum explicabo incidunt odio ratione eius quaerat natus
                            voluptate, fuga cupiditate neque quod nemo quidem? Eveniet, maxime totam quasi labore est
                            sunt, pariatur qui quae sequi illum earum fugiat doloremque ipsa explicabo rem ut ratione
                            saepe dignissimos porro? Debitis facere eveniet impedit consequatur officia? Lorem, ipsum
                            dolor sit amet consectetur adipisicing elit. Consequatur laborum earum eius nemo eum enim
                            molestiae quasi a officiis ratione delectus odio consequuntur dolorum nisi at libero
                            pariatur aperiam ut, quae quia atque quisquam eos dicta minus. Aperiam temporibus non
                            explicabo vero impedit enim quis voluptas est. Maiores sapiente ipsum recusandae? Eos
                            distinctio quisquam id voluptas, dicta perspiciatis ullam laboriosam soluta possimus
                            pariatur ducimus quod eveniet delectus repellat minus dolores corrupti iste vitae, libero
                            inventore consequuntur vel sequi fuga excepturi. Autem magni laboriosam natus blanditiis
                            maiores doloremque nam! Nobis ipsum officiis, dolorem repellat ex facilis nesciunt
                            dignissimos itaque blanditiis et?</p>
                        <!-- <div class="text-about">
                            <h4>Award achievements</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                                at the coast of the Semantics, a large language ocean.</p>
                            <h4>Read On Any Devices</h4>
                            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                                language ocean.</p>
                            <h4>Very High Resolution</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                Consonantia, there live the blind texts.</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}