{% extends "view/base.html" %}
{% block title %}Service{% endblock %}
{% block head %}
{{ super() }}
<style>
	
</style>

{% endblock %}
{% block content %}

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-5 heading-section text-center ftco-animate">
                <span class="subheading">Services</span>
                <h2 class="mb-4">Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center d-flex ftco-animate">
                <div class="services-1 bg-light">
                    <span class="icon">
                        <i class="flaticon-user-experience"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Experience</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <div class="services-1 bg-light">
                    <span class="icon">
                        <i class="flaticon-network"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Marketing Goals</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <div class="services-1 bg-light">
                    <span class="icon">
                        <i class="flaticon-innovation"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Targetting Vission</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}