{% extends "user_dashboard/base.html" %}
{% block title %}User Dashboard{% endblock%}
{% block head %}
{{super()}}
<style>

</style>
{% endblock %}

{% block content %}

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Order History</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Order History</li>
        </ol>
    </div>

    <div class="row mb-3">


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Orders</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_orders[0]}}</div>
                            <!-- <div class="mt-2 mb-0 text-muted text-xs">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span>Since last month</span>
              </div> -->
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Invoice Example -->
        <div class="col-xl-12 col-lg-7 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">User order history</h6>
                    <!-- <a class="m-0 float-right btn btn-danger btn-sm" href="#">View More <i class="fas fa-chevron-right"></i></a> -->
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Order ID</th>
                                <th>ADDRESS</th>
                                <th>STATE</th>
                                <th>ZIP</th>
                                <th>ORDER NOTE</th>
                                <th>PRODUCT DETAILS</th>
                                <th>ORDER TOTAL</th>
                                <th>PAYMENT METHOD</th>
                                <th>DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td><a href="#">{{order.0}}</a></td>
                                <td>{{order.4}}</td>
                                <td>{{order.5}}</td>
                                <td>{{order.6}}</td>
                                <td>{{order.7}}</td>
                                <td>{{order.8|safe}}</td>
                                <td>{{order.9}}</td>
                                <td>{{order.10}}</td>
                                <td>{{order.11}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

    </div>
    <!--Row-->


</div>
<!---Container Fluid-->
</div>

{% endblock %}