<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{%block title%}{% endblock %}-storybook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900"> 
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/fonts/icomoon/style.css")}}>
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/magnific-popup.css")}}>
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/jquery-ui.css")}}>
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/owl.carousel.min.css")}}>
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/owl.theme.default.min.css")}}>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/aos.css")}}>

    <link rel="stylesheet" href={{url_for("static", filename="audiobook/css/style.css")}}>
    {% endblock %}
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 absolute transparent" role="banner">

      <div class="container">
        <div class="row align-items-center">
          

          <div class="col-3" data-aos="fade-down">
            <h1><a href="/audiobook" class="text-white h2">AudioBook</a></h1>
          </div>
          <div class="col-9" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-md-right" role="navigation">

                

                <div class="d-inline-block ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu js-clone-nav d-none">
                  <!-- <li class="has-children active">
                    <a href="index.html">Home</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                      <li class="has-children">
                        <a href="#">Sub Menu</a>
                        <ul class="dropdown">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> -->
                  <!-- <li class="has-children">
                    <a href="#">Dropdown</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li> -->
                  <li><a href="/">Home</a></li>
                  {% if "user" in session %}
                  <li><a href="/profile">{{ session["user"] }}</a></li>
                  {% else %}
                  <li><a href="/login">Login</a></li>
                  {% endif %}
                  <li><a href="/shop">Shop</a></li>
                  <li><a href="/audiobook">AudioBook</a></li>
                  <li><a href="/podcast">Podcast</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>


          </div>

        </div>
      </div>
      
    </header>


    {% block content %} {% endblock %}


        
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="mb-5">
                <h3 class="footer-heading mb-4">About AudioBook</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
              </div>
  
              
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="row mb-5">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Quick Menu</h3>
                </div>
                <div class="col-md-6 col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">shop</a></li>
                    <li><a href="/podcast">podcast</a></li>
                    <li><a href="/audiobook">audiobook</a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="/about">About Us</a></li>
                    <!-- <li><a href="#">Privacy Policy</a></li> -->
                    <li><a href="/contat">Contact Us</a></li>
                    <!-- <li><a href="#">Membership</a></li> -->
                  </ul>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-12">
                  <h3 class="footer-heading mb-4">Follow Us</h3>
  
                  <div>
                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
            
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <p>
              Copyright &copy; 2022 All Rights reserved | Abdullah Al Mizan
              </p>
            </div>
            
          </div>
        </div>
      </footer>
    </div>
  
    <script src={{url_for("static", filename="audiobook/js/jquery-3.3.1.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/jquery-migrate-3.0.1.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/jquery-ui.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/popper.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/bootstrap.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/owl.carousel.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/jquery.stellar.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/jquery.countdown.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/jquery.magnific-popup.min.js")}}></script>
    <script src={{url_for("static", filename="audiobook/js/aos.js")}}></script>
  
    <script src={{url_for("static", filename="audiobook/js/mediaelement-and-player.min.js")}}></script>
  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
                  var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;
  
                  for (var i = 0; i < total; i++) {
                      new MediaElementPlayer(mediaElements[i], {
                          pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                          shimScriptAccess: 'always',
                          success: function () {
                              var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                              for (var j = 0; j < targetTotal; j++) {
                                  target[j].style.visibility = 'visible';
                              }
                    }
                  });
                  }
              });
      </script>



  
  
    <script src={{url_for("static", filename="audiobook/js/main.js")}}></script>
      
    </body>
  </html>
