{% extends "audiobook/base.html" %}
{% block title %}search audiobook{% endblock %}
{% block head %}
{{super()}}
<style>

</style>
{% endblock %}
{% block content %}

<div style="margin:100px;">
    <h1>Search Result for "{{search_audio}}" </h1>
</div>



<div class="site-section bg-light">
  <div class="container">
    <!-- <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h2 class="font-weight-bold text-black">Related Audiobooks</h2>
      </div>
    </div> -->
    <div class="row">

      {% for audiobook in audiobooks %}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          {% set img="image/" + audiobook.3 %}
          <a href="/single_audiobook/{{audiobook.0}}"><img class="card-img-top" height="300px"  src={{url_for("static", filename=img)}} alt=""></a>
          <div class="card-body">
            <!-- <h6>Premium</h6> -->
            <h4 class="card-title">
              <a href="/single_audiobook/{{audiobook.0}}">{{audiobook.1}}</a>
            </h4>
            <p class="card-text">{{audiobook.2[0:150]}}......</p>
            <h6 style="text-transform:uppercase;">{{audiobook.8}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>



{% endblock %}